body{
    margin: 0;
    padding: 0;
}

.header-section .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 45px;
    background-color: #1a191c;
    color: aliceblue;
    font-family: 'Cabin', sans-serif;

}

.membership-plan{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.common{
    margin-top: 10px;
    width: 350px;
    height: 350px;
    border: 1px solid gray;
}

.common h3{
    text-align: center;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.common ul li{
    font-family: 'Arimo', sans-serif;
}

.common ul{
    margin-bottom: 50px;
}

.common .membership-price{
    text-align: center;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    
}

.buy-now{ 
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

.buy-now a{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    border: 1px solid 	#d81532;
    border-radius: 5px;
    padding: 10px;
    color: #1a191c;
}

.buy-now a:hover{
    background-color: 	#d81532;
    transition: background 0.8s; 
        
}
